/* Basic styling to center the content */
body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 1; /* Set to 1 by default */
}

/* Center button below the image */
button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #ff6392;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
  margin-top: 20px; /* Add margin to create space above the button */
  display: block; /* Change to block to allow centering */
  margin-left: auto; /* Center the button */
  margin-right: auto; /* Center the button */
}

button:hover {
  background-color: #ff507b;
}

#error-message {
  color: red;
  margin-top: 10px;
}

/* Spinner styles */
.spinner {
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top: 5px solid #ff6392; /* Spinner color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite; /* Changed duration to 1 second */
  display: none; /* Initially hidden */
  margin: 20px auto; /* Center the spinner */
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
